@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');




.nav {
    position: fixed;
    /* background-color: #222; */
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
    z-index: auto;
    font-size: 20px;
}

.nav .container {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    transition: all .3s ease-in-out;
     z-index: 1;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.nav.active {
    background-color: #fff;
    height: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    z-index: 2;
}

.nav.active a {
    color: #000;
    z-index: 2;
}

.nav.active .container {
    padding: 0px 0;
}

.nav  a:hover {
    color: rgb(255,88,36);
    font-weight: bold;
    z-index: 3;
}
/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .contact__form {
    position: relative;
  }

/* --------------------------------- */


  /* .footer-1{
    position: relative;
    right: 400px;
    top: 0px;
  }
  .footer-2{
    position: absolute;
    left: 800px;
  }



  /* Media query for mobile screens */
  @media only screen and (max-width: 767px) {
    .footer-desktop {
      display: none;
    }

    .footer-mobile {
      display: block;
    }

    .col-3 {
      position: relative;
      left: 200px;

    }

    .col-5 {
      position: absolute;
      left: 400px;
      bottom: 40px;

    }
  }
  
  
  @media only screen and (min-width: 768px) {
    .footer-desktop {
      display: block;
    }

    .footer-mobile {
      display: none;
    }

    .col-3 {
      position: relative;
      left: 150px;
    }

    .col-5 {
      position: absolute;
      left: 325px;
      bottom: 40px;
    }
  }
  
          
 /* ======================== */
 .header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.resumeClass {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right,  #4c7fdd, #366ed6);
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  
}

.resumeClass:hover {
  background-color: #fff;
  color: #000000;
  border: #cecaca;
  text-decoration: none;

}

.resumeClass:hover .resume-text {
  color: #2a2e32;
}

.resumeClass .fa-file {
  margin-left: 10px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.resumeClass:hover .fa-file {
  transform: rotate(360deg);
}

/* ====================



